// ===================================
// Base
// ===================================
@base-path: 'base';

@import "@{base-path}/normalize.less";
@import "@{base-path}/fonts.less";
@import "@{base-path}/variables.less";
@import "@{base-path}/mixins.less";
@import "@{base-path}/base.less";

// ===================================
// Components
// ===================================
@components-path: 'components';
@import "@{components-path}/gallery.less";
@import "@{components-path}/select.less";
@import "@{components-path}/header.less";
@import "@{components-path}/bio.less";


// ===================================
// Modules
// ===================================
@modules-path: 'modules';
