//-
//- Title
h1.header-title
  | YoStreet
//-
//- Navigation
nav.header-nav
  button.header-nav-link(ui-sref="app.home")
    | Galeria
  button.header-nav-link(ui-sref="app.bio")
    | Apresentação
  button.header-nav-link(ui-sref="app.contact")
    | Contato
