.photo-container(
  ng-if="pc.photo")
  .photo
    h3.photo-title(ng-bind="pc.photo.title")
    preloader.photo-image(image="pc.photo.image")
  button.photo-button.-back(ng-click="pc.changeImage(false)")
  button.photo-button.-next(ng-click="pc.changeImage(true)")
