.map#map-canvas
//- map.map(
//-   zoom="15"
//-   center="[-23.5489063,-46.6330117]"
//-   disable-default-u-i="false"
//-   disable-double-click-zoom="false"
//-   draggable="true"
//-   draggable-cursor="pointer"
//-   dragging-cursor="move"
//-   keyboard-shortcuts="true"
//-   max-zoom="30"
//-   min-zoom="5"
//-   tilt="45"
//-   id="map-canvas"
//-   map-type-id="ROADMAP")
//-   //- map-data(load-geo-json-string="{{geojson}}")
//-   //- map-data(load-geo-json="geojson/s02.json")
//-   //- map-data(load-geo-json="geojson/s03.json")
//-   //- map-data(load-geo-json="geojson/s04.json")
//-   //- map-data(load-geo-json="geojson/s06.json")
//-   //- traffic-layer
//-   transit-layer
//-   //- cloud-layer
//-   //- weather-layer
//-   //- heatmap-layer(data="taxiData")
