doctype
html(ng-app="yostreet.app")
  head
    meta(charset="utf8")
    title YoStreet
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="styles.min.css")
    link(rel="shortcut icon", href="favicon.ico")
    script(src="externals/jquery.min.js")
    script(src="externals/masonry.pkgd.min.js")
    script(src="externals/imagesloaded.pkgd.min.js")
    script(src="externals/angular.min.js")
    script(src="externals/angular-ui-router.min.js")
    script(src="externals/angular-resource.min.js")
    script(src="externals/angular-animate.min.js")
    script(src="externals/hotkeys.min.js")
    script(src="externals/angular-sanitize.min.js")
    script(src="externals/angular-masonry.js")
    script(src="app.js")
  body(ng-cloak)
    .container(ui-view="")
