ul.gallery(
  ng-if="!gallery.loading")
  li.gallery-photo(
    ng-repeat="photo in gallery.photos"
    ng-click="gc.showPhoto(photo)")
    img.gallery-photo-image(ng-src="{{photo.thumb}}")
    h3.gallery-photo-title(ng-bind="photo.title")
.loader(
  ng-if="gallery.loading")
