//-
//- Bio
.bio
  h3.bio-title É...
  p.bio-text Do legado, suas origens.
  p.bio-text 17 anos passaram,
  p.bio-text Do graffiti  idealizado,
  p.bio-text Formações específicas.
  p.bio-text Arte, publicidade.
  p.bio-text Em uma escola secundária,
  p.bio-text Desenhos no caderno, mentes livres.
  p.bio-text No intermédio, agências,
  p.bio-text Clientes, muros, estudos e mais estudos, méritos.
  p.bio-text Um spray na mão, técnicas desenvolvidas, afeição.
  p.bio-text Graffiti como essência, estilos, outro brilho.
  p.bio-text Wall art, exposições, Street art, acessando todas as partes.
  p.bio-text E uma prioridade a qualidade.
  p.bio-text Campanhas, logos, nova identidade.
  p.bio-text Decoração de interiores, exteriores a troca da velha roupagem.
  p.bio-text Performances, eventos, produtos personalizados, a diferença natural.
  p.bio-text Real, virtual, desenvolvimento de Sites com estilo é fundamental.
  p.bio-text E o no demais o que a imaginação lhe permite.
  p.bio-text O céu como limite.
  h4.bio-subtitle Esse é o estilo YO Street.
  h5.bio-signature Otavio Fabro (Ota)
  h5.bio-signature Diretor de arte
  h5.bio-signature Doutorando em artes IA Unesp
  
